<h3>Hey <%= current_user.name %>, you are now editing your profile!</h3>

<form action="/users/<%= current_user.id %>/edit" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="user[name]" value="<%= current_user.name %>">
  <input type="text" name="user[email]" value="<%= current_user.email %>">
  <br><br>
  <input type="submit" value="Update Info">
</form>
