<h3>Welcome <%= current_user.name %>!</h3>

<a href="/users/<%= current_user.id %>/edit">Edit Profile</a>
<a href="/logout">Logout</a>
<br>
<form action="/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Account">
</form>
